@model Visitor





   

    Merhaba @Model.Name!
    @if (Model.IsComing.HasValue && Model.IsComing.Value)
    {
        <p>Gelmene çok sevindik! @Model.Email adresine buluşma hakkında mail atacağız.</p>
    }
    else
    {
        <p>Gelemeyeceğin için üzgünüz. Bir dahaki sefere!</p>
    }
