
@{
    ViewData["Title"] = "ErisimEngellendi";
}

<h1>ErisimEngellendi</h1>

<p>
    Üzgünüm @User.Identity.Name, rolünüz @User.Claims.ToList()[3].Value olduğundan bu sayfayı görmeye yetkili değilsiniz :(
</p>